---
import SectionContainer from "@/components/SectionContainer.astro";
import { basics } from '@/cv'

const { summary } = basics

---


<SectionContainer title="Sobre Mí">
    <p>
        {summary}
    </p>
</SectionContainer>